.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
}

.content {
    width: 100%;
    height: 100%;
    align-content: center;
    position: relative;
}

.depth {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 0.8em;
    color: white;
    background-color: #213547;
    width: 1.5em;
    height: 1.5em;
    align-content: center;
    border-radius: 50%;
}

.grid {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.clickable:hover {
    background-color: antiquewhite;
    border-radius: 16px;
}